* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f6f9;
}

.title {
    font-size: 1rem;
    color: #fff;
}

.navbar {
    background: linear-gradient(to right, #00C6FF, #0072FF);
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #f1f1f1;
}

.logout__button {   
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
